
body{
    margin: 0;
}

.search,.searchBtn{
    margin-left: 1em;
   border-radius: 5px;
}

.search{
    padding: 2px;
}

.top_nav{
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}


.top_nav a{
    padding: 10px 15px;
    text-decoration: none;
    color:#a9a9a9;
    font-weight: bold;
}

.top_nav a:hover{
    color: white;
}


.rightNav{
    float: right;
}

.imageDemo{
width: 100%;  
height: auto;  
}


 #circle {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      background: #656565;
      margin: 20px auto;
    }


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    justify-items: center;
    margin: 0 20% 0 20%;
    grid-column-gap: 2em;
   }

   
.details{
    margin: 15px;
    border-radius: 5px;
    font-size: small;
    color: white;
    background-color: #444444;
    padding: 10px;
}

.clearfix { 
  margin: 0 20% 0 20%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgRight {
    order: 2;
  float: right;
  height: 500px;
  width: 500px;
}

.imgLeft{
 float: left;
  height: 500px;
  width: 500px;
}

.header2{
    color: #444444;
    font-size: 3rem;
}

.innerHeader{
    color: #588bae;
}

@media screen and (max-width: 800px) {
  .grid {   
    width: 100%;
    padding: 0;
    margin: auto;
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 800px) {
  .imgLeft {   
    order: 2;
  }
}

@media screen and (max-width: 800px) {
  .top_nav {   
    display: flex;
    height: auto;
    justify-content: space-evenly;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .inner_nav {   
    display: flex;
    height: auto;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .nav2 {   
    display: flex;
    height: auto;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .header2,.detailed {   
   margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .imgLeft,.imgRight {   
   height:300px;
   width: 300px;
  }
}


@media screen and (max-width: 800px) {
  .clearfix {   
    width: 100%;
    float: left;
    padding: 0;
    margin: auto;
    flex-direction: column;
  }
}

hr{
   height:0.5px;
   margin: 0 20% 0 20%;
   border-width:0;color:#f0f0f0;
   background-color:#f0f0f0
}